* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #001428;
}
.main {
    background-image: url("https://img.freepik.com/premium-photo/anime-nature-abstract-art-background-image_492154-533.jpg");
    background-size: max(1200px, 114vw);
    background-position: top;
    background-repeat: no-repeat;
    height: 835px;
    position: relative;
}

.main .box {
    height: 835px;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    background-color: black;
}


.login-wrapper
{
    font-family: 'Martel Sans', sans-serif;
    max-width: 85vw;
    margin: auto;
    display: flex;
    align-items: center;
}
.form
{
    width: 100%;
    position: relative;
    max-width: 593px;
    padding: 66px 71px 78px 33px;
    box-shadow: 0 0 0px #0042b4, 
    0 0 0px #0047c1bf, 
    0 0 0px #0047c2, 
    0 0 150px #0049A9;
    background: linear-gradient(to right, #001f3f, #000000);
    color: #fff;
    display: grid;
    gap: 19px;
    margin: 174px 69px 99px 290px;
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    z-index: 1;
}

.form .submit-btn {
    width: 70px;
    cursor: pointer;
}
.input-group input {
    
    font-size: 1rem;
    color: white;
    padding: 10px;
    background-color: transparent;
    border: 0.5px solid rgba(246, 238, 238, 0.5);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    outline: none;
}

.input-group input:focus {
    border: 1px solid aqua;
}
.submit-btn {
    height: 29px;
    width: 72px;
    background-color: royalblue;
    color: white;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: none;
}
.sign-in {
    display: flex;
    gap: 14px;
    align-items: center;
}
.form .sign-in:hover input {
    
    background: #dd4b39;
    color: white;
    box-shadow: 0 0 2px #dd4b39,
    0 0 15px #dd4b39,
    0 0 2px #d85341,
    0 0 30px #dc5745;
}
.form .register:hover input {
    
    background: #004dd3;
    color: white;
    box-shadow: 0 0 5px #004dd3,
    0 0 20px #0047c1bf,
    0 0 2px #0053e2,
    0 0 200px #0055e7;
}
